#docker-compose up --build
#http://localhost:8080/swagger/index.html

version: '3.8'
services:
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'KsiazeczkaPTTK'
    ports:
      - "3306:3306"

  api:
    build: 
      context: ./BE/KsiazeczkaPTTK
      dockerfile: KsiazeczkaPTTK.API/Dockerfile
    restart: always
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings:MySQLConnection=server=mysql; port=3306; database=KsiazeczkaPTTK; user=root; password=root;
      - DropDb=false
    links:
      - mysql
    depends_on:
      - mysql

  vite:
    build: 
      context: ./FE/got-pttk
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./FE/got-pttk:/app
    ports:
      - "3000:3000"
    